<mat-form-field appearance="fill">
  <mat-label>Mode</mat-label>
  <mat-select [(value)]="mode">
    <mat-option value="default">default</mat-option>
    <mat-option value="center-method">center-method</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Position</mat-label>
  <mat-select [(value)]="position">
    <mat-option value="left">left</mat-option>
    <mat-option value="right">right</mat-option>
    <mat-option value="top">top</mat-option>
    <mat-option value="bottom">bottom</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Click Behavior</mat-label>
  <mat-select [(value)]="clickBehavior">
    <mat-option [value]="'auto'">auto</mat-option>
    <mat-option [value]="'smooth'">smooth</mat-option>
  </mat-select>
</mat-form-field>

<mat-slide-toggle [(ngModel)]="centralised">Centralised</mat-slide-toggle>

<mat-slide-toggle [(ngModel)]="compact">Compact</mat-slide-toggle>

<div class="gallery-container">

  <carousel style="height: 300px" [selectedItem]="5">
    <carousel-thumbs [compact]="compact"
                     [itemHeight]="50"
                     [clickBehavior]="clickBehavior"
                     [position]="position"
                     [centralised]="centralised"
                     [mode]="mode"></carousel-thumbs>
    <ng-container *ngFor="let item of items; index as i">
      <ng-template carouselItem>
        <div class="test-item" [style.background]="item.color">
          {{ i + 1 }}
        </div>
      </ng-template>
      <ng-template carouselItemThumb>
        <div class="test-item test-item-thumb" [style.background]="item.color">
          {{ i + 1 }}
        </div>
      </ng-template>
    </ng-container>
    <carousel-nav></carousel-nav>
  </carousel>

<!--  <h2>Compact mode, centralised</h2>-->

<!--  <carousel style="height: 300px" [selectedItem]="8">-->
<!--    <ng-container *ngFor="let item of items; index as i">-->
<!--      <ng-template carouselItem>-->
<!--        <div class="test-item" [style.background]="item.color">-->
<!--          {{ i + 1 }}-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template carouselItemThumb>-->
<!--        <div class="test-item test-item-thumb" [style.background]="item.color">-->
<!--          {{ i + 1 }}-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ng-container>-->
<!--    <carousel-thumbs *ngIf="toggle" [centralised]="false" [itemHeight]="50" mode="center-method"></carousel-thumbs>-->
<!--    <carousel-nav></carousel-nav>-->
<!--  </carousel>-->
</div>

<!--<h2>Compact, centralised</h2>-->

<!--<carousel style="height: 300px" [selectedItem]="8">-->
<!--  <ng-container *ngFor="let item of items; index as i">-->
<!--    <ng-template carouselItem>-->
<!--      <div class="test-item" [style.background]="item.color">-->
<!--        {{ i + 1 }}-->
<!--      </div>-->
<!--    </ng-template>-->
<!--    <ng-template carouselItemThumb>-->
<!--      <div class="test-item test-item-thumb" [style.background]="item.color">-->
<!--        {{ i + 1 }}-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </ng-container>-->
<!--  <carousel-thumbs *ngIf="toggle" [itemHeight]="50"></carousel-thumbs>-->
<!--  <carousel-nav></carousel-nav>-->
<!--</carousel>-->

<!--<h2>Vertical, centralised</h2>-->

<!--<carousel style="height: 300px" [selectedItem]="8">-->
<!--  <ng-container *ngFor="let item of items; index as i">-->
<!--    <ng-template carouselItem>-->
<!--      <div class="test-item" [style.background]="item.color">-->
<!--        {{ i + 1 }}-->
<!--      </div>-->
<!--    </ng-template>-->
<!--    <ng-template carouselItemThumb>-->
<!--      <div class="test-item test-item-thumb" [style.background]="item.color">-->
<!--        {{ i + 1 }}-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </ng-container>-->
<!--  <carousel-thumbs *ngIf="toggle" position="left" [itemWidth]="50"></carousel-thumbs>-->
<!--  <carousel-nav></carousel-nav>-->
<!--</carousel>-->
