<button mat-button color="primary" (click)="lightbox1.open(0)">Open Lightbox</button>

<ng-template lightbox #lightbox1="lightbox" [fullscreen]="true">
  <carousel #carousel
            [selectedItem]="lightbox1.selected">
    <ng-container *ngFor="let item of data$ | async; index as i">
      <img *carouselItem imageZoom [src]="item.data.src" alt="">
      <!--        <img style="pointer-events: none" [src]="item.data.src" alt="">-->
      <!--        <image-zoom [src]="item.data.fullHDURL"></image-zoom>-->
      <div *carouselItemThumb
           matRipple
           class="test-item test-item-thumb"
           [class.mat-elevation-z4]="carousel.snapshot.activeItem === i"
           [class.mat-elevation-z2]="carousel.snapshot.activeItem !== i"
           [matRippleTrigger]="trigger">
        <gallery-image [src]="item.data.thumb"></gallery-image>
        <!--          <img style="pointer-events: none" [src]="item.data.thumb" alt="">-->
      </div>
      <div #trigger style="width: 100%; height: 100%; position: absolute"></div>
    </ng-container>

    <carousel-nav [space]="20"></carousel-nav>

    <!--    <carousel-thumbs mode="default"-->
    <!--                     position="bottom"-->
    <!--                     [perPage]="8"-->
    <!--                     [compact]="false"-->
    <!--                     [itemCrossSize]="90"-->
    <!--                     [itemSize]="150">-->
    <!--    </carousel-thumbs>-->
    <carousel-thumbs [centralized]="false"
                     position="bottom"
                     [compact]="false"
                     [itemBlockSize]="90"
                     [itemInlineSize]="150">
    </carousel-thumbs>
  </carousel>
</ng-template>
