<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="data.docs; else noData">
    <nav *ngIf="paramName$ | async as paramName"
         mat-tab-nav-bar>
      <a *ngFor="let link of links"
         matTabLink
         routerLinkActive
         #overview="routerLinkActive"
         [active]="overview.isActive"
         [routerLink]="['..', paramName, link]">
        {{ link | uppercase }}
      </a>
    </nav>

    <div class="component-viewer-content">
      <router-outlet></router-outlet>
    </div>
  </ng-container>

  <ng-template #noData>
    <app-error>
      <p><b>ERROR:</b> Data could not be fetched!</p>
    </app-error>
  </ng-template>
</ng-container>

