<ng-container *ngIf="data$ | async as data">
  <div *ngIf="data.docs; else noData"
       class="component-viewer-wrapper"
       [ngStyle.lt-sm]="{ padding: '20px 15px' }" >
    <nav *ngIf="paramName$ | async as paramName"
         mat-tab-nav-bar
         mat-stretch-tabs="false"
         mat-align-tabs="start"
         [tabPanel]="tabPanel">
      <a *ngFor="let link of links"
         matTabLink
         routerLinkActive
         #overview="routerLinkActive"
         [active]="overview.isActive"
         [routerLink]="['..', paramName, link]">
        {{ link | uppercase }}
      </a>
    </nav>

    <mat-tab-nav-panel #tabPanel class="component-viewer-content">
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>

  <ng-template #noData>
    <app-error>
      <p><b>ERROR:</b> Data could not be fetched!</p>
    </app-error>
  </ng-template>
</ng-container>

