<div fxLayout="column" fxLayoutAlign="center center">

  <h3><p>Images from <a href="https://pixabay.com/">Pixabay</a></p></h3>

  <h3 fxLayout fxLayoutAlign="center center">
    <p>© 2018 Angular Gallery</p>
    <iframe src="https://ghbtns.com/github-btn.html?user=murhafsousli&repo=ngx-gallery&type=star&count=true"
            frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
  </h3>

  <h3>Created by Murhaf Sousli
    <a mat-icon-button class="icon twitter" href="https://twitter.com/MurhafSousli">
      <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
    </a>
    <a mat-icon-button class="icon github" href="https://github.com/MurhafSousli">
      <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
    </a>
  </h3>
</div>

