<mat-sidenav-container>
  <mat-sidenav mode="over" [opened]="sideNavOpened" (openedChange)="sideNavOpened = $event">
    <component-nav class="sidenav"></component-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="docs-component-sidenav-content">
      <app-header (sideNavOpenChange)="sideNavOpened = true">{{ title$ | async }}</app-header>
      <main>
        <component-nav fxHide [fxShow.gt-sm]="true"></component-nav>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
